body{
    font: 15px Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color:#faecec; 
    box-sizing: border-box;
}
header{
    border: 2px solid violet;
    background-color: black;
    padding: 20px;
}
h1{
  color: #eee; font: 200%/150% Georgia, "Times New Roman", Times, serif;
}
#menu ul {
    display: flex;
    gap: 1rem; 
}
ul li{
    border-radius: 4px;
}
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
    padding: 0px 20px;
}  
#menu ul li {
    background-color:#2e518b;
    
}  
#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}  
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
} 
#menu ul li:hover {
    background:#5b78a7;
}
footer{
    background-color: black;
    padding: 10px;
    margin-top: 42px;
}
.footer-container p{
    text-align: center;
    color: #eee;
    text-shadow: rgb(0, 225, 255) 3px 3px 5px;
    font-family: fantasy;
}
.contenedor1{
    height: 380px;
}
.bloque-container{
    border: 2px solid rgb(124, 16, 233);
    display: flex;
    gap: 1rem;
}
.bloque{
    width: 30%;
    padding-left: 50px;
    margin-top: 20px;
    background-color: #c8d5e9;
    border-radius: 5px;
}
   
.bloque h3 {
    text-decoration: underline solid rgb(61, 9, 248);
}
.nove ul ol{
    background-color: aqua;
}
.custom-select {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid rgb(171, 5, 204);
  font-family: Arial, sans-serif;
  cursor: pointer;
  border-bottom: 3px solid rgb(0, 0, 255) ;
}
.novedades{
  border: 2px solid rgb(171, 5, 204);
}